body {
    background: #444 url(../images/background.png) repeat-x;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    position: relative;
    text-shadow: 0 0 -1px #000;
}

a {
    color: purple;
    font-weight: 900;
    text-decoration: none;
     -webkit-transition: color 250ms linear;
}

header {
    position: relative;
    margin-bottom: 20px;
}

header h1 {
    position: absolute;
    top: 70px;
    left: 200px;
    width: 200px;
    font-size: 0.8em;
    color: #666;
}

.page {
    padding: 0 10px 0 20px;
    position: relative;
    width: 960px;
    margin: 0 auto;
}

.navbar {
    width: 412px;
    height: 42px;
    background: #000;
    border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    position: absolute;
    top: 43px;
    right: 23px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 9px 0 0 0;
    text-align: center;
}

.navbar li {
    display: inline;
    margin: 0 5px;
}

.navbar li a {
    -webkit-transition: all 250ms linear;
    background: #474747;
    border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    padding: 3px 5px;
    color: #d0d0d0;
    font-weight: normal;
    font-size: 0.9em;
}

.navbar li a:hover {
    background: #00A0D3;
    color: #fff;
}

.profilebar {
    width: 392px;
    padding: 3px 10px 0 10px;
    height: 34px;
    background: #565656;
    border: 0;
	-moz-border-bottom-radius-bottom-left: 5px;
	-moz-border-bottom-radius-bottom-right: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
    position: absolute;
    top: 0;
    right: 23px;
    font-size: 0.9em;
    color: #ccc;
}

footer {
    background: #2c2c2c;
    color: #ccc;
    font-size: 11px;
    line-height: 18px;
    margin: 20px 0 0 0;
    padding: 20px 0 40px 15px;
}

footer a {
    color: #00a4d9;
    text-decoration: none;
    -webkit-transition: all 250ms linear;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer .footer-content {
    width: 960px;
    margin: 20px auto;
    text-align: right;
}


.errorField {
    background: url(../images/error_bg.png);
    border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    padding: 0 10px 0 30px;
    margin-bottom: 4px;
    font-size: 0.9em;
    font-weight: bold;
}

.errorlist {
    color: #fff;
    background: #f33;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 3px 10px;
    list-style: none;
    float: left;
    width: 330px;
}

form h3 {
    text-align: left;
    color: #333;
    margin-bottom: 10px;
}

form h1 {
    text-align: left;
    color: #666;
}

button {
    background: #999;
    border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    padding: 6px 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: bold;
    margin: 10px 10px 10px 220px;
}

button:hover {
    background: #333;
}

.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}