/*
------------------------------------------------------------------------------

gregnewman.org
Master Stylesheet

Author:   Greg Newman
Version:  2009.08

------------------------------------------------------------------------------ */
body {
    background: url(../images/fbg.gif) no-repeat center top;
}

.page {
    border-top: 3px solid #ccc;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}
 
a { 
	color: #000;
	text-decoration: none;
}

a:hover { color: #333; border-bottom: dotted 1px #333; }
a:active { margin-top: 1px; }

input:focus,
textarea:focus {
	background: #f7f7f7;
}

div.errors,
li.errors,
ul.errorlist li {
    background-color: #ff9898;
    padding: 0.3em;
    border-color:#ff0000;
    padding: 0.3em;
    border: 1px solid;
}

ul.errorlist,
ul.errorlist li {
    margin: 0;
    list-style: none;
    float: right;
}

/* FORMS --------------------------------------------------------------------- */


/* HEADERS ------------------------------------------------------------------ */
.header,
.subheader {
    margin: 20px 0;
}

.logo {
    letter-spacing: -0.15em;
    font-style: italic;
    font-size: 36px;
    padding: 20px 0 0 10px;
    height: 25px;
    width: 510px !important;
}

.logo span {
    letter-spacing: 0.2em; 
    margin-left: 10px;
    font-size: 11px;
}

.logo a, .logo a:hover {
    color: #666;
    border: 0 transparent;
}


.navbar,
.socialone {
    border-top: 1px solid  #adadad;
    border-bottom: 1px solid  #adadad;
}

.socialone {
    height: 45px;
}

.illobox {
    border-top: 2px solid  #adadad;
    border-bottom: 2px solid  #adadad;
    height: 136px;
}

.cat-search {
    border-top: 2px solid  #adadad;
    border-bottom: 2px solid  #adadad;
    height: 136px;
}

.socialtwo {
    border-top: 2px solid  #adadad;
    border-bottom: 2px solid  #adadad;
    height: 136px;
}

/* NAVBAR -------------------------------------------------------------------- */
/* blocking this out for now, will need to be changed when the sprites are done */

.navbar {
    height: 25px !important;
    color: #000 !important;
    text-align: center;
    padding-top: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    padding: 5px 10px;;
}

/* ENTRIES ------------------------------------------------------------------- */

.entry h2 {
    margin-left: 5px;
}

.entry-meta {
    font-color: #666 !important;
    background: #f1f1f9 url(../images/arrow-left.png) no-repeat top right;;
    border-top: 1px solid #ccc;
    padding: 3px 0 5px 5px;
    -moz-border-bottom-left-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px
}

.entry-meta ul li {
    display: inline;
}

.entry-body {
    margin-bottom: 10px;
    border-left: 1px solid #ccc;
    margin-left: -10px;
    padding-left: 10px;
}

.entry-body p {
    margin: 0 0 15px 0;
}

.entry-body img {
    margin-left: -50px;
    padding: 10px;
    background: #fff;
    border: 4px solid #ccc;
}

.related h2 {
    border-top: 3px solid #ccc;
}

.related ul li {
    margin-bottom: 15px;
}

.related ul li span,
.related ul li span p {
    color: #666;
}

.related ul li h3 {
    margin-bottom: 3px;
    padding: 0;
}

/* FOOTER ------------------------------------------------------------------- */

.footer {
    background: url(../images/fbg.gif) no-repeat center top;
    min-height: 100px;
    padding: 20px 0;
    border-top: 2px solid #c3c3c3;
    margin-top: 20px;
}

.footer h3 {
    padding-bottom: 3px;
    border-bottom: 2px solid #666;
    margin-bottom: 10px;
}

.footer p {
    margin-bottom: 10px;
}

.readernaut img {
    float: left;
    padding: 2px;
    margin: 2px 5px 2px;;
}

.readernaut li,
.tweets li {
    margin: 0 0 5px 0;
}

.flickr img {
    padding: 2px;
    background: #fff;
    border: 2px solid #000;
}

/* DISQUS  ------------------------------------------------------------------- */

.entry-disqus {
    margin-top: 20px;
    border-top: 4px solid #ccc;
    padding-top: 20px;
}

.dsq-comment {
    margin: 5px 0 !important;
    padding: 5px !important;
    border: 1px solid #ccc !important;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px
}

.dsq-moderator {
    background: #eef0fe !important;
}