@font-face {
  font-family: GraublauWeb;
  src: url(../fonts/GraublauWeb.otf);
}
@font-face {
  font-family: GraublauWebBold;
  src: url(../fonts/GraublauWebBold.otf);
  font-weight: bold;
}
body {
  color: #000000;
  font-family: 'Adobe Caslon Pro', Georgia, serif;
  font-size: 10pt;
  letter-spacing: 0.1em;
  line-height: 19px;
  padding: 0;
  position: relative;
  background: #acacac url(../images/page_bg.jpg) no-repeat fixed;
}
a { color: #2a4560; }
.column1 {
  width: 260px;
  text-align: right;
  float: left;
  margin-right: 15px;
}
.column2 {
  width: 500px;
  float: left;
  margin-right: 15px;
}
.column3 { float: left; }
header { margin-top: 17px; }
header h1 a {
  color: #444444;
  text-decoration: none;
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17pt;
  margin: 0;
  padding: 0;
}
header h1 span {
  display: block;
  font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
  font-size: 7pt;
  font-weight: normal;
  color: #444444;
}
footer {
  background: #000000;
  font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
  color: #ffffff;
  width: 470px;
  padding: 20px 15px;
}
footer h3 {
  font-family: 'GraublauWebBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}
.copyright {
  background: #282828 url(../images/img_border.png) no-repeat top right;
  padding: 40px 15px 20px 15px;
  color: #cccccc;
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 8pt;
}
.copyright a { color: #cccccc; }
.copyright a:hover { color: #ffffff; }
.content {
  width: 470px;
  padding: 20px 15px 50px 15px;
  background: url(../images/footer_border.png) no-repeat bottom left;
}
.content h2 {
  background: rgba(67, 100, 131, 0.2);
  padding: 2px 0 4px 15px;
  margin: 19px 0 13px -14px;
  font-size: 12pt;
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
.content h2 a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 0.2s linear;
}
.content h2 a:hover { color: #ffffff; }
.content p { padding: 3px 0 17px 0; }
article { position: relative; }
article ul { margin-left: 20px; }
article h3 { font-family: 'GraublauWebBold', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
article img { border: 2px solid #000000; }
article .entry-meta {
  border: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  width: 120px;
  left: -150px;
  text-align: right;
  margin-top: 20px;
  padding: 3px 15px 15px 5px;
  background: url(../images/meta_block.png) no-repeat bottom left;
}
article .entry-meta span {
  display: block;
  font-size: 10px;
}
article .entry-meta a { color: #444444; }
article .related {
  border: 0;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  width: 170px;
  left: 485px;
  top: 200px;
  padding: 3px 5px 15px 10px;
  background: url(../images/related_block.png) no-repeat bottom right;
  color: #cccccc;
  font-family: 'Adobe Caslon Pro', Georgia, serif;
}
article .related h3 {
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 3px;
}
article .related a {
  color: #ffffff;
  font-size: 9pt;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}
article .entry-extra {
  border: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  position: absolute;
  color: #ffffff;
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 120px;
  top: 100px;
  left: -150px;
  text-align: right;
  margin-top: 20px;
  padding: 3px 15px 15px 5px;
  background: url(../images/meta_block_red.png) no-repeat bottom left;
}
article .entry-extra span { display: block; }
article .entry-extra a {
  color: #cccccc;
  text-decoration: none;
}
article code {
  font-family: courier, sans-serif;
  font-size: 10px;
}
.gist { border: 1px solid #444444; }
.gist-file { font-size: 11px; }
nav {
  margin: 33px 0 0 0;
  padding: 0;
}
nav li {
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10pt;
  padding: 0;
  margin: 0;
}
nav li.active {
  font-family: 'GraublauWebBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -0.5px;
}
nav li a {
  color: #444444;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
}
nav li a:hover { color: #ffffff; }
nav li.filter {
  color: #444444;
  margin: 19px 0 5px 0;
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #999999;
}
nav li.home {
  padding-left: 13px;
  background: url(../images/home-icon.png) no-repeat left;
}
.respect ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 9pt;
}
.respect ul li {
  margin: 5px 0;
  display: block !important;
}
.respect li a {
  background: #444444;
  color: #ffffff;
  text-decoration: none;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 2px 4px;
  -webkit-transition: all 0.2s linear;
}
.respect li a:hover { background: #b49993; }
.flickr, .readernaut, .respect { float: left; }
.flickr {
  width: 150px;
  margin-left: 20px;
}
.flickr img {
  background: #cccccc;
  padding: 2px;
  border: 1px solid #444444;
}
.readernaut img {
  background: #cccccc;
  padding: 2px;
  border: 1px solid #444444;
}
.readernaut {
  width: 150px;
  margin-right: 20px;
}
#disqus_thread { font-family: 'Adobe Caslon Pro', Georgia, serif; }
.dsq-comment {
  padding: 4px 5px 1px 5px !important;
  margin-bottom: 10px !important;
}
.dsq-even {
  background: rgba(255, 255, 255, 0.2) !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.dsq-odd {
  background: rgba(167, 113, 103, 0.2) !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.dsq-comment-header { background: rgba(73, 107, 142, 0.2) !important; }
.padtop { margin-top: 10px; }
.distractblock h4 a {
  color: #444444;
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.distractblock { margin-bottom: 19px; }
a.continue {
  color: #2a4560;
  font-family: 'GraublauWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: right;
}
a.continue:hover { color: #000000; }
pre {
  width: 445px;
  overflow: auto;
  padding: 0 10px;
  border: 2px solid #e1e1e1;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s linear;
  color: #ffffff;
}
pre:hover { background: rgba(0, 0, 0, 0.5); }
