// colors
@white: #fff;
@grey: #444;
@black: #000;

// fonts
@serifd: 'Adobe Caslon Pro', Georgia, serif;
@sans: 'Helvetica Nueu', Helvetica, Arial, sans-serif;

body {
    color: @grey;
    font-family: @serifd;
    font-size: 10pt;
    letter-spacing: 0.1em;
    line-height: 145%;
    padding: 0;
    position: relative;
    background: url(../images/page_bg.gif) no-repeat fixed;
}

.column1 {
    width: 260px;
    text-align: right;
    float: left;
    margin-right: 15px;
}

.column2 {
    width: 500px;
    float: left;
    margin-right: 15px;
}

.column3 {
    float: left;
}

.content {
    width: 470px;
    padding: 20px 15px;
}

header h1 span {
    display: block;
    font-family: @sans;
    font-size: 10pt;
}

footer {
    background: @black;
    color: @white;
    width: 470px;
    padding: 20px 15px;
}