{% extends "site_base.html" %}
{% load markup %}
{% load tagging_tags %}
{% load markup_tags %}
{% load disqus_tags %}

{% block content %}
    <article>
        <h2>{{ entry.title }}</h2>
        <div class="entry-meta">
            On {{ entry.created_on|date:"M. jS, y" }}
        </div>
        <div class="entry-extra">
            <span><a href="{{ entry.get_absolute_url }}#disqus_thread">View Comments</a></span>
            {% tags_for_object entry as tags %}
            {% if tags %}
               <span>Tagged<br /> 
            {% for tag in tags %}
               <a href="{% url tagged-entries tag %}">{{ tag }}</a> 
            {% endfor %}</span>
            {% endif %}
            In Journal - {% for blog in entry.blog.all %}{{ blog.title }}{% endfor %}
        </div>
        <div class="related">
            <h3>Related Entries</h3>
            {% for related in entry.related_content.all %}
                <a href="{{ related.get_absolute_url }}">{{ related.title }}</a>
            {% empty %}
                No related entries.
            {% endfor %}
        </div>
        <div class="entry-body">
            {{ entry.excerpt|apply_markup:entry.markup }}
            {{ entry.body|apply_markup:entry.markup }}
        </div>
    </article>

    <section class="entry-disqus">
        <h2>Comments</h2>
        <a name="disqus_thread"></a>
        {% disqus_show_comments %}
    </section>
    <div class="clearfix"></div>
{% endblock %}