{% extends "site_base.html" %}
{% load markup %}
{% load tagging_tags %}
{% load markup_tags %}
{% load disqus_tags %}

{% block content %}
    <article>
        <h2>{{ entry.title }}</h2>
        <div class="entry-meta">
            <span>On {{ entry.created_on|date:"F jS, y" }}</span>
            <a href="{{ entry.get_absolute_url }}#disqus_thread">View Comments</a>
            {% disqus_num_replies %}
            {% tags_for_object entry as tags %}
            {% if tags %}
            <ul>
               <li>Tagged: </li>
            {% for tag in tags %}
               <li>{{ tag }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            In Journal -- {% for blog in entry.blog.all %}{{ blog.title }}{% endfor %}
        </div>
        <div class="entry-body">
            {{ entry.excerpt|apply_markup:entry.markup }}
            {{ entry.body|apply_markup:entry.markup }}
        </div>

        <div class="related">

        </div>
    </article>

    <section class="entry-disqus">
        <a name="disqus_thread"></a>
        {% disqus_show_comments %}
    </section>

    <section class="sidebar">
        <h2>Related Entries</h2>
        {% for related in entry.related_content.all %}
            <h3><a href="{{ related.get_absolute_url }}">{{ related.title }}</a></h3>
                <span>{{ related.excerpt|apply_markup:entry.markup|truncatewords:15 }}</span>
        {% empty %}
            No related entries.
        {% endfor %}
    </section>
    <div class="clearfix"></div>
{% endblock %}