{% extends "site_base.html" %}
{% load markup %}
{% load tagging_tags %}
{% load markup_tags %}
{% load disqus_tags %}

{% block content %}
    <div class="detail">
        <div class="entry">
            <h2>{{ entry.title }}</h2>
            <div class="entry-meta">
                {{ entry.created_on|date:"F jS, y" }}<br />
                <a href="{{ entry.get_absolute_url }}#disqus_thread">View Comments</a>
                {% disqus_num_replies %}
                {% tags_for_object entry as tags %}
                {% if tags %}
                <ul>
                   <li>Tags: </li>
                {% for tag in tags %}
                   <li>{{ tag }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="entry-body">
                {{ entry.excerpt|apply_markup:entry.markup }}
                {{ entry.body|apply_markup:entry.markup }}
            </div>
        </div>
        <div class="related">
            <h2>Related Entries</h2>
            <ul>
            {% for related in entry.related_content.all %}
                <li><h3><a href="{{ related.get_absolute_url }}">{{ related.title }}</a></h3>
                    <span>{{ related.excerpt|apply_markup:entry.markup|truncatewords:15 }}</span></li>
            {% empty %}
                <li>No related entries.</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="entry-disqus">
        <a name="disqus_thread"></a>
        {% disqus_show_comments %}
    </div>
{% endblock %}