{% extends "site_base.html" %}
{% load markup %}
{% load tagging_tags %}
{% load markup_tags %}
{% load comparison %}

{% block content %}

    {% for entry in entries %}
    <article>
        <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
        <div class="entry-meta">
            On {{ entry.created_on|date:"F jS, Y" }}
        </div>
        <div class="entry-body">
            {{ entry.body|apply_markup:entry.markup|truncatewords:60 }}
        </div>
    </article>
    {% endfor %}

    <section class="sidebar">
        <h2>Distractions</h2>
        {% for distraction in distractions %}
        <div class="distractblock">
            <h4><a href="{{ distraction.link }}" target="_blank">{{ distraction.title }}</a></h4>
                <span>{{ distraction.description }}</span>
        </div>
        {% endfor %}
    </section>
    
    <div class="clearfix"></div>
    
{% endblock %}