{% extends "site_base.html" %}
{% load markup %}
{% load tagging_tags %}
{% load markup_tags %}
{% load disqus_tags %}
{% load comparison %}

{% block content %}

    <div class="entries">
    {% for entry in entries %}
    {% if forloop.counter < 4 %}
    <div class="entry">
        <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
        <div class="entry-meta">
            {{ entry.created_on|date:"F jS, y" }}<br />
            <a href="{{ entry.get_absolute_url }}#disqus_thread">View Comments</a>
            {% disqus_num_replies %}
        </div>
        <div class="entry-body">
            {{ entry.excerpt|apply_markup:entry.markup }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>

    <div class="distractions">
        <h2>Distractions</h2>
        {% for distraction in distractions %}
        <div class="distractblock">
            <h4><a href="{{ distraction.link }}" target="_blank">{{ distraction.title }}</a></h4>
                <span>{{ distraction.description }}</span>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}