{% extends "base.html" %}
{% load flickr %}
{% block body %}
<header>
    <a href="/">greg newman</a> <span>[professional artist, designer and developer]</span>
    <div class="navbar grid_5">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="">Work</a></li>
            <li><a href="">Code</a></li>
        </ul>
    </div>
</header>

<section>
    <div class="content">
    {% if messages %}
		<ul id="messages">
			{% for message in messages %}
			<li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>clear</small></a> {{ message }}</li>
			{% endfor %}
		</ul>
    {% endif %}
    
    {% block content %}
    {% endblock %}
    </div>
</section>

<footer>
    <div class="tweets grid_4">
        <h3>Chirp Chirp</h3>
        <ul>
        {% for tweet in tweets %}
            <li><a href="http://twitter.com/gregnewman/status/{{ tweet.twitter_id }}">{{ tweet.text }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="flickr">
        <h3>Flickr Pool</h3>
        {% get_random_photos 10 as random_photos %}
        {% for photo in random_photos %}
            <a href="{{ photo.photopage_url }}" /><img src="http://farm3.static.flickr.com/{{ photo.server }}/{{ photo.flickr_id }}_{{ photo.secret }}.jpg" width="{{ photo.thumbnail_width }}" height="{{ photo.thumbnail_height }}" alt="{{ photo.title }}" /></a>
        {% endfor %}
    </div>

    <div class="readernaut">
        <h3>Reading or Read</h3>
        <ul>
        {% for book in books %}
            <a href="{{ book.permalink }}"><li class="clearfix"><img src="{{ book.cover_small }}" /> {{ book.author }}<br />{{ book.title }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="copyright">
        <h3>Legal Bull-*@$%</h3>
        <p>&copy;2009 Greg Newman, All Rights Reserved.  Content, images and illustrations may not be reproduced without written permission from author.</p>
        <p>This site hand-crafted with Django, 960 and Heineken.  The font used is Fertigo Pro.</p>
    </div>
</footer>

{% endblock %}